<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Processador.Estados" behaviorConfiguration="Processador.EstadosBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="Processador.IEstado">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="Processador.Cidades" behaviorConfiguration="Processador.CidadessBehaviors">
        <endpoint address="" binding="wsHttpBinding" contract="Processador.ICidade">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="Processador.EstadosBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        <behavior name="Processador.CidadessBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      
    </behaviors>
    
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
